<div class="container mx-auto my-8" [ngClass]="{'animate-pulse': loading$ | async}">

  <div class="paginator" *ngIf="currentPage$ |async as currentPage">
    <ng-container *ngIf="showPagination; else searchResults">
    <i class="fas fa-arrow-left mx-4 cursor-pointer"
       [ngClass]="{'opacity-50	pointer-events-none' : currentPage < 2}"
       (click)="previousPage()"></i>
    <p class="text-slate-400 w-full text-center">Page {{currentPage}} &mdash; {{data.length}} entries</p>
    <i class="fas fa-arrow-right mx-4 cursor-pointer" (click)="nextPage()"></i>
    </ng-container>
  </div>

  <div class="data-grid">
    <div class="text-slate-400 mb-2"><span>ID</span></div>
    <div class="text-slate-400 mb-2"><span>Symbol</span></div>
    <div class="text-slate-400 mb-2"><span>Name</span></div>
    <div class="text-slate-400 mb-2"><span>Current Price</span></div>
    <div class="text-slate-400 mb-2"><span>Market Cap</span></div>
    <div class="text-slate-400 mb-2"><span>Total Volume</span></div>
    <div class="text-slate-400 mb-2"><span>High (24h)</span></div>
    <div class="text-slate-400 mb-2"><span>Low (24h)</span></div>
    <div class="text-slate-400 mb-2"><span>Price Change (24h)</span></div>
    <div class="text-slate-400 mb-2"><span>Circulating Supply</span></div>

<ng-container *ngFor="let coin of data">
    <ng-container *ngIf="coin">
      <div><span>{{ coin.id }}</span></div>
      <div class="badge">{{ coin.symbol | uppercase }}</div>
      <div class="border-r-2"><span>{{ coin.name }}</span></div>
      <div><span>{{ coin.current_price | currency }}</span></div>
      <div><span>{{ coin.market_cap | million }}</span></div>
      <div><span>{{ coin.total_volume | million }}</span></div>
      <div class="text-green-900 font-bold"><span>{{ coin.high_24h | currency }}</span></div>
      <div class="text-red-800 font-bold"><span>{{ coin.low_24h | currency }}</span></div>
      <div><span>{{ coin.price_change_percentage_24h | percent }}</span></div>
      <div><span>{{ coin.circulating_supply | million }}</span></div>
    </ng-container>
</ng-container>
  </div>
</div>

<ng-template #searchResults>
  <div class="flex text-slate-500 items-center justify-center w-full">
    <i class="fas fa-search mx-4"></i>
    <p>{{data.length}} results</p>
  </div>
</ng-template>
